* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
html::webkit-scrollbar {
  display: none;
}
main {
  margin: 2%;
  padding: 2%;
}
.canvas_block {
  background: white;
  color: black;
  border: 1px solid grey;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

